<ol>
  <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
  <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
  <li>Add a button which may only be clicked if the username is NOT an empty string</li>
  <li>Upon clicking the button, the username should be reset to an empty string</li>
</ol>

<label>Enter User Name:</label>
<input class="form-control" type="text" [(ngModel)]="username" />
<p>UserName property with string Interpolation: <b>{{ username }}</b></p>
<button class="btn btn-primary" [disabled]="(username.length === 0)" (click)="onResetClick($event)">
  Reset username
</button>
<div [innerText]="username"></div>